


<mat-toolbar>    
<!--   <input type="checkbox" id="check">
  <label for="check">
    <mat-icon class="badge" id="btn">menu</mat-icon>
    <mat-icon class="badge" id="cancel">close</mat-icon>
  </label>
  <div class="sidebar">
  <header>Notes App</header>
<ul>
<li><a href="#"><i class="fas fa-moon"></i>Dark Mode</a></li>
<li><a href="#"><i class="fas fa-comment-dots"></i>Feedback</a></li>
<li><a href="#"><i class="fas fa-question-circle"></i>FAQ</a></li>
<li><a href="#"><i class="fas fa-envelope-open-text"></i>Request A Feature</a></li>
<li><a href="#"><i class="fas fa-users"></i>About</a></li>
</ul>
</div> -->
    <span id="name">Lenitive Notes</span>
    <span class="example-spacer"></span>
      <mat-icon>settings</mat-icon>
  </mat-toolbar>    