.item-card {
    max-width: 500px;
    padding: 30px;
  }
  .rating{
    float:right;
  }
  .mat-card{
      margin:20px;
      background-color: rgb(255, 255, 255);
  }
  #container{
    overflow-x: hidden;
  }
/*   .pages{
    position: absolute;
    left: 150px;
    bottom: 10px;
  } */
  .mat-icon{
    margin: 0;
    cursor:default;
    color: gold;
  }